* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: 0.3s;
  margin: 0%;
}

body {
  margin: 0;
  height: 500vh;
}

.wrapper {
  max-width: auto;
  color: #ffffff;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  padding: 1.5em;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.logo a {
  font-size: 1.2em;
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
}
.logo a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
  transition: width 0.2s;
}
.logo a:hover:before {
  width: 40%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  width: 23em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav ul li a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
}
nav ul li a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
  transition: width 0.1s;
}
nav ul li a:hover:before {
  width: 40%;
}
nav ul li a.active:before {
  position: absolute;
  content: "";
  width: 45%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
}

.welcome {
  overflow: hidden;
  position: relative;
  padding: 4em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.welcome .welcome-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.welcome .welcome-title h2 {
  font-weight: 700;
  font-size: 3em;
  color: rgb(224, 224, 224);
  margin-bottom: -0.2em;
}
.welcome .welcome-title .subtitle {
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(224, 224, 224);
}
.welcome .welcome-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.welcome .welcome-details .details-info {
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;
  align-items: start;
}
.welcome .welcome-details .details-info .details-info-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "left right";
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.welcome .welcome-details .details-info .details-info-container svg {
  width: 40px;
  height: 40px;
  grid-area: left;
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-details {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-details h4 {
  font-weight: 700;
  font-size: 0.8em;
  color: rgb(224, 224, 224);
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-details p {
  font-size: 0.8em;
}

.description {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("/assets/images/beer.jpg");
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.social-networks {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}
.social-networks ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding-left: 0px;
}
.social-networks ul:hover > li {
  color: rgb(167, 146, 129);
}
.social-networks ul li {
  color: rgba(167, 146, 129, 0.6);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border: 1px solid rgba(167, 146, 129, 0.4);
  cursor: pointer;
  transition: ease 0.3s;
}
.social-networks ul li:hover {
  color: rgb(167, 146, 129);
  border: 1px solid rgb(167, 146, 129);
}/*# sourceMappingURL=index.css.map */