* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: 0.3s;
  margin: 0%;
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.wrapper {
  max-width: auto;
  color: #ffffff;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em;
}
.logo svg {
  width: 40px;
  height: 40px;
}
.logo a {
  font-size: 1.2em;
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
}
.logo a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
  transition: width 0.2s;
}
.logo a:hover:before {
  width: 40%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em;
}
nav ul {
  width: 23em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav ul li a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
}
nav ul li a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
  transition: width 0.1s;
}
nav ul li a:hover:before {
  width: 40%;
}
nav ul li a.active:before {
  position: absolute;
  content: "";
  width: 45%;
  height: 1px;
  border-bottom: 2px solid rgb(161, 161, 161);
  bottom: -6px;
}

.welcome {
  border: 2px solid red;
  margin: 4em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
.welcome .welcome-title {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.welcome .welcome-title h2 {
  font-weight: 700;
  font-size: 3em;
  color: rgb(224, 224, 224);
  margin-bottom: -0.2em;
}
.welcome .welcome-title .subtitle {
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(224, 224, 224);
}
.welcome .welcome-details {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome .welcome-details .details-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.welcome .welcome-details .details-info .details-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pading: -1em;
}
.welcome .welcome-details .details-info .details-info-container svg {
  border: 2px solid red;
  width: 30px;
  height: 30px;
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-element {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-element h4 {
  border: 2px solid red;
  font-weight: 700;
  font-size: 0.8em;
  color: rgb(224, 224, 224);
}
.welcome .welcome-details .details-info .details-info-container .details-info-container-element p {
  border: 2px solid red;
}

.social-networks {
  padding: 3%;
  margin-top: 2%;
}
.social-networks .social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-networks .social-container .social-rectangle {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 0.05em solid #0e683e;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.4em 0.4em 0px 0px #424242;
  opacity: 1;
  margin-left: 0.6em;
  margin-right: 0.6em;
  border: 1px solid white;
  color: #ffffff;
  box-shadow: none;
  -webkit-transition: color 0.2s ease-in-out;
}
.social-networks .social-container .social-rectangle i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}
.social-networks .social-container .social-rectangle:hover {
  background-color: #ffffff;
  color: rgb(161, 161, 161);
  border-color: #666;
}
.social-networks .social-container .social-rectangle:focus {
  outline: none;
}/*# sourceMappingURL=index.css.map */